/* <!-- Ng Tian Yu _ Membership sign-up and voucher details Landing Page section --> */

.deco_img {
    width: 100%;
}


.FOM_section {
    background-color: #F9F1DA;
}

.FOM_div {
    flex-direction: row;
    justify-content: center;
    display: flex;
    gap: 20px;
    width: 85%;
    margin: 0 auto;
}

.first_column {
    padding: 7rem;
    text-align: center;
}

.second_column {
    text-align: center;
    padding: 7rem;
}

.phone {
    width: 113%;
    margin: 0;
    border-radius: 35px;
    text-align: center;
    display: inline-block;
    text-align: center;
}

.voucher {
    margin: 0;
    width: 92%;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    text-align: center;
}

.join_button {
    width: 113%;
    background-color:#006D42;
    border-radius: 45px;
    padding: 20px;
    margin-top: 3rem;
}

a {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 25px;
}

.more_button {
    width: 93%;
    background-color:#006D42;
    border-radius: 45px;
    padding: 20px;
    margin-top: 3rem;
}

.join_button:hover {
  background-color: lightgreen;
  border-radius: 45px;
  box-shadow: 13px 15px 25px -9px #006D42;
}

.more_button:hover {
  background-color: lightgreen;
  border-radius: 45px;
  box-shadow: 13px 15px 25px -9px #006D42;
}