* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px; 
  background-color: #fffde5;
  position: relative;
  z-index: 10; 
}

.logo {
  font-weight: bold;
  padding: 6.4px 16px; 
  border-radius: 10px;
  color: #0c3b2e;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #0a6814;
  font-weight: bold;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  background-color: #0c3b2e;
}

.hero-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2); 
}

footer {
  background-color: #0d5b2f;
  color: #ffffff;
  text-align: center;
  padding: 32px 16px; 
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px; 
  margin-bottom: 16px; 
}

.subscribe img {
  width: 40px;
  height: auto;
}

.chat-button {
  position: fixed;
  bottom: 16px; 
  right: 16px; 
}

.chat-button button {
  background-color: #fff;
  border: none;
  padding: 12.8px 19.2px; 
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  position: relative;
}

.chat-button .badge {
  background-color: #2d9f2d;
  color: rgb(255, 255, 255);
  font-size: 12px; 
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  top: -8px;
  right: -8px;
}


.map-button {
  text-align: center;
  margin-top: 16px; 
}

.btn-link {
  display: inline-block;
  background-color: #0d5b2f;
  color: rgb(143, 9, 143);
  padding: 9.6px 19.2px; 
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-link:hover {
  background-color: #138d4a;
}
